
h2{
    color: #BF202F;
    text-transform: uppercase;
}
.tour-info-palce h2{
    font-size: 28px;
    font-weight: 700;
    padding: 5px;
}
.travel-export h2 {
    font-weight: 700;
    font-size: 24px;
}
.travel-export .tour-num{
    background-color: #00a651;
    padding: 15px;
    text-align: center;

}
.tour-num a:link{
    text-decoration: none;
}
.tour-num a{
    color: white;
   font-size: 30px;
   font-weight: 700;

}
.tour-num:hover{
    background-color: #BF202F;
}
.tour-mail a:link{
    text-decoration: none;
}
.tour-mail{
    text-align: center;
}
.tour-mail a{
    font-size: 30px;
    color: #BF202F;
    font-weight: 700;
}
.tour-info-social-icon{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
   
}
.tour-info-social-icon ul{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.tour-info-social-icon ul li a:link {
    text-decoration: none;
}
.tour-info-social-icon ul li a i{
    font-size: 50px;
    padding: 10px;
   

}
.tour-info-social-icon ul li a p{
 color: black;
 text-transform: uppercase;
 padding: 5px;
}
.tour-info-social-icon ul li a p:hover{
 color: #BF202F;

}
.trek-map .container h2{
   font-size: 22px;
   font-weight: 700;
   padding: 7px;
}
.trek-name ul{
    list-style: none;
    
}
.trek-name ul li::before{
    content: '\2014';
    margin-right: 20px;
    padding: 5px;
 
    

}
.trek-name ul li {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 20px;
    

}
/* popular annapurna region treks */
.popular-trek-img-info h3{
    text-transform: uppercase;
    color: black;
    font-size: 16px;
    padding-left: 15px;
}
.popular-trek-img-info{
    background-color: white;
    z-index: 999;
    position: absolute;
    width: 500px;
    right: 35px;
    top: 340px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.popular-trek-img-info ul{
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;

}
.popular-trek-rate{
    position: absolute;
    top:-5px;
    left: 70px;
    z-index: 999;
    width: 120px;
    height: 80px;
    background: #00a551;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.popular-trek-rate::before{
    content: "";
    position: absolute;
    right: 100%;
    top:-1px;
    left: -22px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #00a551;
    border-bottom: 13px solid transparent;

}
.popular-trek-rate>p{
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    font-weight: 400;
}
.popular-trek-img{
    padding-bottom: 170px;
}

.popular-trek-img-info ul li{
    padding: 15px;
}
.popular-trek-btn{
    display: flex;
    flex-wrap: wrap;

}
.popular-trek-btn .inq-btn a{
background: #BF202F;
margin-right: 20px;
}
.popular-trek-btn .inq-btn a:link{
text-decoration: none;
}
.popular-trek-btn .inq-btn a:hover{
background-color: black;
}
.popular-trek-btn .inq-btn a{
text-transform: uppercase;
text-align: center;
padding: 5px 40px;
color: white;
}
.popular-trek-btn .date-btn a{
background: #00a651;
}
.popular-trek-btn .date-btn a:link{
text-decoration: none;
}
.popular-trek-btn .date-btn a:hover{
background-color: black;
}
.popular-trek-btn .date-btn a{
text-transform: uppercase;
text-align: center;
padding: 5px 30px;
color: white;
}
.similar-treks .container h2{
    padding-top: 20px;
    font-size: 26px;
    font-weight: 800; 
}
.similar-treks-img{
padding-top: 10px;
}
.treks-img-name h4{
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 30px;
    right: 75px;
    font-size: 18px;
}


/* responsive css iphonex */
@media only screen   and (min-device-width: 375px) 
and (max-device-width: 768px)  {
    .popular-trek-img {
        padding-bottom: 234px;
    }
    .popular-trek-img-info {
    
        width: 305px;
        right: 35px;
        top: 210px;
        
    }   
    .popular-trek-btn .inq-btn a {
      
        padding: 5px 14px;
      
    } 
    .popular-trek-btn .date-btn a { 
        padding: 5px 11px;
    }
    .popular-trek-img-info h3 {
        font-size: 14px;
    }
    .popular-trek-img-info ul li {
        padding: 5px;
    }

    .similar-treks-img img {
        padding-top: 10px;
        width: 100%;
    }
    .treks-img-name h4 {
        top: 60px;
        right: 105px;
    }
}